.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
}

.new-account-container {
  width: 350px;
}

.marketing-ipsum {
  font-size: 14px;
  padding: 20px 0px;
  margin: 20px 0px;
}

.ipsum-top {
  border-bottom: 1px solid black;
}

.ipsum-bottom {
  border-top: 1px solid black;
}

.form-row {
  height: 115px;
}

.form-group {
  height: 115px;
  margin-bottom: 0px;
}

.custom-control {
  width: 250px;
}

.button-container {
  text-align: center;
}

.password-button {
  padding-top: 15px;
}
